<!-- begin content -->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
	<div class="kt-subheader   kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
		
			<div class="kt-subheader__breadcrumbs">
				<a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a href="/" class="kt-subheader__breadcrumbs-link">
					Vnetgps </a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a href="" class="kt-subheader__breadcrumbs-link">
					Tracking </a>

				<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span>  -->
			</div>
		</div>
	</div>
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
		 <router-outlet></router-outlet>
	</div>
</div>
<!-- end content -->