<div class="btn-group show">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Change theme
  </button>
  <div class="dropdown-menu" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -189px, 0px);">

    <a *ngFor ="let colorTheme of listColorThemes" (click) = "changeColorTheme(colorTheme.name)" class="dropdown-item">{{colorTheme.label}}</a>

    <div class="dropdown-divider"></div>

  </div>
</div>