<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Position</th>
    <th>Mobile</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td>{{item.empCode}} - {{item.fullName}}</td>
      <td>{{item.position}}</td>
      <td>{{item.mobile}}</td>
      <td >
        <a (click)="onEdit(item)" class="btn"><i class="fa fa-edit"></i></a>
        <a (click)="onDelete(item.id)" class="btn"><i class="fa fa-trash"></i></a>        
      </td>
    </tr>
  </tbody>
</table>