<div class="row">
  
		<!--begin::Global Theme Bundle(used by all pages) -->
		<script src="assets/vendors/global/vendors.bundle.js" type="text/javascript"></script>
		<script src="assets/js/demo1/scripts.bundle.js" type="text/javascript"></script>

		<!--end::Global Theme Bundle -->

		<!--begin::Page Vendors(used by this page) -->
		<script src="assets/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>

		<!--begin::Page Scripts(used by this page) -->
		<script src="assets/js/demo1/pages/dashboard.js" type="text/javascript"></script>
  <div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Order Statistics</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-toolbar-wrapper">
            <div class="dropdown dropdown-inline">
              <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flaticon-more-1"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__section kt-nav__section--first">
                    <span class="kt-nav__section-text">Export Tools</span>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-print"></i>
                      <span class="kt-nav__link-text">Print</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-copy"></i>
                      <span class="kt-nav__link-text">Copy</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-excel-o"></i>
                      <span class="kt-nav__link-text">Excel</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-text-o"></i>
                      <span class="kt-nav__link-text">CSV</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                      <span class="kt-nav__link-text">PDF</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-widget-18">
          <div class="kt-widget-18__summary">
            <div class="kt-widget-18__total">7,300</div>
            <div class="kt-widget-18__label">Total Orders</div>
          </div>
          <div class="kt-widget-18__progress">
            <div class="progress">

              <!-- Doc: A bootstrap progress bar can be used to show a user how far along it's in a process, see https://getbootstrap.com/docs/4.1/components/progress/ -->
              <div class="progress-bar bg-brand" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-warning" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
              <div class="progress-bar bg-dark" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="kt-widget-18__item">
            <div class="kt-widget-18__legend kt-bg-brand"></div>
            <div class="kt-widget-18__desc">
              <a href="">
                <div class="kt-widget-18__title">
                  Mobile Games
                </div>
              </a>
              <div class="kt-widget-18__desc">
                Swift, Python, Java SDK
              </div>
            </div>
            <div class="kt-widget-18__orders">
              <span>3,244</span> Orders
            </div>
          </div>
          <div class="kt-widget-18__item">
            <div class="kt-widget-18__legend kt-bg-success"></div>
            <div class="kt-widget-18__desc">
              <a href="">
                <div class="kt-widget-18__title">
                  B2B2C Solutions
                </div>
              </a>
              <div class="kt-widget-18__desc">
                ASP.NET, Ruby, Python
              </div>
            </div>
            <div class="kt-widget-18__orders">
              <span>962</span> Orders
            </div>
          </div>
          <div class="kt-widget-18__item">
            <div class="kt-widget-18__legend kt-bg-danger"></div>
            <div class="kt-widget-18__desc">
              <a href="">
                <div class="kt-widget-18__title">
                  HTML Templates
                </div>
              </a>
              <div class="kt-widget-18__desc">
                HTML, CSS, JS
              </div>
            </div>
            <div class="kt-widget-18__orders">
              <span>2,750</span> Orders
            </div>
          </div>
          <div class="kt-widget-18__item">
            <div class="kt-widget-18__legend kt-bg-info"></div>
            <div class="kt-widget-18__desc">
              <a href="">
                <div class="kt-widget-18__title">
                  Back-end Plugins
                </div>
              </a>
              <div class="kt-widget-18__desc">
                PHP, Ruby, C#, ASP.NET
              </div>
            </div>
            <div class="kt-widget-18__orders">
              <span>890</span> Orders
            </div>
          </div>
          <div class="kt-widget-18__item">
            <div class="kt-widget-18__legend kt-bg-dark"></div>
            <div class="kt-widget-18__desc">
              <a href="">
                <div class="kt-widget-18__title">
                  Admin Software
                </div>
              </a>
              <div class="kt-widget-18__desc">
                Bootsrap, CSS, SCSS, AngularJS
              </div>
            </div>
            <div class="kt-widget-18__orders">
              <span>1,644</span> Orders
            </div>
          </div>

          <!--
<div class="kt-widget-18__item">
<div class="kt-widget-18__legend kt-bg-success"></div>
<div class="kt-widget-18__desc">
<a href=""><div class="kt-widget-18__title">
Dashboard System
</div></a>
<div class="kt-widget-18__desc">
Angular, Oracle, Java
</div>
</div>
<div class="kt-widget-18__orders">
<span>560</span> Orders
</div>
</div>
-->
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-12 col-xl-8 order-lg-1 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Revenue Growth</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-toolbar-wrapper">
            <div class="dropdown dropdown-inline">
              <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flaticon-more-1"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__section kt-nav__section--first">
                    <span class="kt-nav__section-text">Export Tools</span>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-print"></i>
                      <span class="kt-nav__link-text">Print</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-copy"></i>
                      <span class="kt-nav__link-text">Copy</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-excel-o"></i>
                      <span class="kt-nav__link-text">Excel</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-text-o"></i>
                      <span class="kt-nav__link-text">CSV</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                      <span class="kt-nav__link-text">PDF</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body kt-portlet__body--fluid">
        <div class="kt-widget-9">
          <div class="kt-widget-9__panel">
            <div class="kt-widget-9__legends">
              <div class="kt-widget-9__legend">
                <div class="kt-widget-9__legend-bullet kt-bg-brand"></div>
                <div class="kt-widget-9__legend-label">Author</div>
              </div>
              <div class="kt-widget-9__legend">
                <div class="kt-widget-9__legend-bullet kt-label-bg-color-1"></div>
                <div class="kt-widget-9__legend-label">Customer</div>
              </div>
            </div>
            <div class="kt-widget-9__toolbar">
              <div class="dropdown dropdown-inline">
                <button type="button" class="btn btn-default dropdown-toggle btn-font-sm btn-bold btn-upper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  August
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <ul class="kt-nav">
                    <li class="kt-nav__section kt-nav__section--first">
                      <span class="kt-nav__section-text">Export Tools</span>
                    </li>
                    <li class="kt-nav__item">
                      <a href="#" class="kt-nav__link">
                        <i class="kt-nav__link-icon la la-print"></i>
                        <span class="kt-nav__link-text">Print</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a href="#" class="kt-nav__link">
                        <i class="kt-nav__link-icon la la-copy"></i>
                        <span class="kt-nav__link-text">Copy</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a href="#" class="kt-nav__link">
                        <i class="kt-nav__link-icon la la-file-excel-o"></i>
                        <span class="kt-nav__link-text">Excel</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a href="#" class="kt-nav__link">
                        <i class="kt-nav__link-icon la la-file-text-o"></i>
                        <span class="kt-nav__link-text">CSV</span>
                      </a>
                    </li>
                    <li class="kt-nav__item">
                      <a href="#" class="kt-nav__link">
                        <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                        <span class="kt-nav__link-text">PDF</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-widget-9__chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
            <canvas id="kt_chart_revenue_growth" height="300" width="1005" class="chartjs-render-monitor" style="display: block; width: 1005px; height: 300px;"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid-half kt-widget-13">
      <div class="kt-portlet__body">
        <div id="kt-widget-slider-13-3" class="kt-slider carousel slide" data-ride="carousel" data-interval="12000">
          <div class="kt-slider__head">
            <div class="kt-slider__label">Today's Schedule</div>
            <div class="kt-slider__nav">
              <a class="kt-slider__nav-prev carousel-control-prev" href="#kt-widget-slider-13-3" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="kt-slider__nav-next carousel-control-next" href="#kt-widget-slider-13-3" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item kt-slider__body active">
              <div class="kt-widget-13">
                <div class="kt-widget-13__body">
                  <a class="kt-widget-13__title" href="#">Octa Pre-Launch Meeting</a>
                  <div class="kt-widget-13__desc kt-widget-13__desc--xl kt-font-brand">
                    9:20AM - 10:00AM
                  </div>
                </div>
                <div class="kt-widget-13__foot">
                  <div class="kt-widget-13__label">
                    <i class="fa fa-map-marker-alt kt-label-font-color-2"></i>
                    <span class="kt-label-font-color-2">490 E Main St. Norwich...</span>
                  </div>
                  <div class="kt-widget-13__toolbar">
                    <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">View Map</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item kt-slider__body">
              <div class="kt-widget-13">
                <div class="kt-widget-13__body">
                  <a class="kt-widget-13__title" href="#">UI/UX Design Updates</a>
                  <div class="kt-widget-13__desc kt-widget-13__desc--xl kt-font-brand">
                    11:15AM - 12:30PM
                  </div>
                </div>
                <div class="kt-widget-13__foot">
                  <div class="kt-widget-13__label">
                    <i class="fa fa-map-marker-alt kt-label-font-color-2"></i>
                    <span class="kt-label-font-color-2">246 R St. Manhattan NY...</span>
                  </div>
                  <div class="kt-widget-13__toolbar">
                    <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">View Map</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item kt-slider__body">
              <div class="kt-widget-13">
                <div class="kt-widget-13__body">
                  <a class="kt-widget-13__title" href="#">Sales Report Summary Meet-up</a>
                  <div class="kt-widget-13__desc kt-widget-13__desc--xl kt-font-brand">
                    4:30PM - 5:30PM
                  </div>
                </div>
                <div class="kt-widget-13__foot">
                  <div class="kt-widget-13__label">
                    <i class="fa fa-map-marker-alt kt-label-font-color-2"></i>
                    <span class="kt-label-font-color-2">492 F Sub St. Norwich CT...</span>
                  </div>
                  <div class="kt-widget-13__toolbar">
                    <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">View Map</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid-half kt-widget-12">
      <div class="kt-portlet__body">
        <div class="kt-widget-12__body">
          <div class="kt-widget-12__head">
            <div class="kt-widget-12__date kt-widget-12__date--success">
              <span class="kt-widget-12__day">08</span>
              <span class="kt-widget-12__month">Dec</span>
            </div>
            <div class="kt-widget-12__label">
              <h3 class="kt-widget-12__title">AirGreat Presentation</h3>
              <span class="kt-widget-12__desc">Oxfort Street</span>
            </div>
          </div>
          <div class="kt-widget-12__info">
            To start a blog, think of a topic about and first brainstorm ways to write details
          </div>
        </div>
      </div>
      <div class="kt-portlet__foot kt-portlet__foot--md">
        <div class="kt-portlet__foot-wrapper">
          <div class="kt-portlet__foot-info">
            <div class="kt-widget-12__members">
              <a href="#" class="kt-widget-12__member" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="John Myer">
                <img src="./assets/media/users/100_1.jpg" alt="image">
              </a>
              <a href="#" class="kt-widget-12__member" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Alison Brandy">
                <img src="./assets/media/users/100_10.jpg" alt="image">
              </a>
              <a href="#" class="kt-widget-12__member" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Selina Cranson">
                <img src="./assets/media/users/100_11.jpg" alt="image">
              </a>
              <a href="#" class="kt-widget-12__member" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Luke Walls">
                <img src="./assets/media/users/100_2.jpg" alt="image">
              </a>
              <a href="#" class="kt-widget-12__member" data-toggle="kt-tooltip" data-skin="brand" data-placement="top" title="" data-original-title="Micheal York">
                <img src="./assets/media/users/100_3.jpg" alt="image">
              </a>
              <a href="#" class="kt-widget-12__member kt-widget-12__member--last">
                +3
              </a>
            </div>
          </div>
          <div class="kt-portlet__foot-toolbar">
            <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Join</a>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-12 col-xl-8 order-lg-2 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid kt-widget-17">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Latest Orders</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-toolbar-wrapper">
            <div class="dropdown dropdown-inline">
              <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flaticon-more-1"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__section kt-nav__section--first">
                    <span class="kt-nav__section-text">Export Tools</span>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-print"></i>
                      <span class="kt-nav__link-text">Print</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-copy"></i>
                      <span class="kt-nav__link-text">Copy</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-excel-o"></i>
                      <span class="kt-nav__link-text">Excel</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-text-o"></i>
                      <span class="kt-nav__link-text">CSV</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                      <span class="kt-nav__link-text">PDF</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-widget-17">
          <div class="kt-widget-17__item">
            <div class="kt-widget-17__product">
              <div class="kt-widget-17__thumb">
                <a href="#"><img src="./assets/media/blog/7.jpg" class="kt-widget-17__image" alt="" title=""></a>
              </div>
              <div class="kt-widget-17__product-desc">
                <a href="#">
                  <div class="kt-widget-17__title">
                    Dark Blue Shoes - Limited Collection
                  </div>
                </a>
                <div class="kt-widget-17__sku">
                  SKU: 08451345264
                </div>
              </div>
            </div>
            <div class="kt-widget-17__prices">
              <div class="kt-widget-17__unit">
                $38.00 <span>x</span> 2
              </div>
              <div class="kt-widget-17__total">
                $76.00
              </div>
            </div>
          </div>
          <div class="kt-widget-17__item">
            <div class="kt-widget-17__product">
              <div class="kt-widget-17__thumb">
                <a href="#"><img src="./assets/media/blog/8.jpg" class="kt-widget-17__image" alt="" title=""></a>
              </div>
              <div class="kt-widget-17__product-desc">
                <a href="#">
                  <div class="kt-widget-17__title">
                    Converse Sneakers - Red, Green &amp; White
                  </div>
                </a>
                <div class="kt-widget-17__sku">
                  SKU: 08451345244
                </div>
              </div>
            </div>
            <div class="kt-widget-17__prices">
              <div class="kt-widget-17__unit">
                $92.00 <span>x</span> 1
              </div>
              <div class="kt-widget-17__total">
                $92.00
              </div>
            </div>
          </div>
          <div class="kt-widget-17__item">
            <div class="kt-widget-17__product">
              <div class="kt-widget-17__thumb">
                <a href="#"><img src="./assets/media/blog/12.jpg" class="kt-widget-17__image" alt="" title=""></a>
              </div>
              <div class="kt-widget-17__product-desc">
                <a href="#">
                  <div class="kt-widget-17__title">
                    Merrell - Best Hiking Shoes
                  </div>
                </a>
                <div class="kt-widget-17__sku">
                  SKU: 08451345285
                </div>
              </div>
            </div>
            <div class="kt-widget-17__prices">
              <div class="kt-widget-17__unit">
                $224.00 <span>x</span> 1
              </div>
              <div class="kt-widget-17__total">
                $224.00
              </div>
            </div>
          </div>
          <div class="kt-widget-17__item">
            <div class="kt-widget-17__product">
              <div class="kt-widget-17__thumb">
                <a href="#"><img src="./assets/media/blog/11.jpg" class="kt-widget-17__image" alt="" title=""></a>
              </div>
              <div class="kt-widget-17__product-desc">
                <a href="#">
                  <div class="kt-widget-17__title">
                    Ray Ban - Green Sunglasses
                  </div>
                </a>
                <div class="kt-widget-17__sku">
                  SKU: 08451345239
                </div>
              </div>
            </div>
            <div class="kt-widget-17__prices">
              <div class="kt-widget-17__unit">
                $109.00 <span>x</span> 3
              </div>
              <div class="kt-widget-17__total">
                $327.00
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__foot kt-portlet__foot--md">
        <div class="kt-widget-17__foot">
          <div class="kt-widget-17__foot-info"></div>
          <div class="kt-widget-17__foot-toolbar">
            <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Preview</a>
            <a href="#" class="btn btn-brand btn-sm btn-upper btn-bold">Approve</a>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--tabs">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Latest Tasks
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-bold" role="tablist">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#kt_portlet_tabs_1_1_content" role="tab" aria-selected="false">
                Today
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_2_content" role="tab" aria-selected="false">
                Week
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_3_content" role="tab" aria-selected="true">
                Month
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="kt_portlet_tabs_1_1_content" role="tabpanel">
            <div class="kt-widget-5">
              <div class="kt-widget-5__item kt-widget-5__item--info">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Management meeting
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    09:30 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--danger">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Replace datatables rows color
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    12:00 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--brand">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Export Navitare booking table
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    01:20 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--success">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    NYCS internal discussion
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    03: 00 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--danger">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Project Launch
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    11: 00 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--success">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Server maintenance
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    4: 30 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="kt_portlet_tabs_1_2_content" role="tabpanel">
            <div class="kt-widget-5">
              <div class="kt-widget-5__item kt-widget-5__item--brand">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Export Navitare booking table
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    01:20 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--danger">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Replace datatables rows color
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    12:00 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--brand">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Export Navitare booking table
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    01:20 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--danger">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Replace datatables rows color
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    12:00 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--success">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    NYCS internal discussion
                  </a>
                  <div class="kt-widget-5__item-datetime ">
                    03: 00 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check ">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--info ">
                <div class="kt-widget-5__item-info ">
                  <a href="#" class="kt-widget-5__item-title">
                    Management meeting
                  </a>
                  <div class="kt-widget-5__item-datetime ">
                    09:30 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check ">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade " id="kt_portlet_tabs_1_3_content" role="tabpanel">
            <div class="kt-widget-5 ">
              <div class="kt-widget-5__item kt-widget-5__item--success">
                <div class="kt-widget-5__item-info ">
                  <a href="#" class="kt-widget-5__item-title">
                    NYCS internal discussion
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    03: 00 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--danger">
                <div class="kt-widget-5__item-info ">
                  <a href="#" class="kt-widget-5__item-title">
                    Replace datatables rows color
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    12:00 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--danger">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Replace datatables rows color
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    12:00 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--brand">
                <div class="kt-widget-5__item-info">
                  <a href="#" class="kt-widget-5__item-title">
                    Export Navitare booking table
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    01:20 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--brand">
                <div class="kt-widget-5__item-info ">
                  <a href="#" class="kt-widget-5__item-title">
                    Export Navitare booking table
                  </a>
                  <div class="kt-widget-5__item-datetime ">
                    01:20 PM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
              <div class="kt-widget-5__item kt-widget-5__item--info">
                <div class="kt-widget-5__item-info ">
                  <a href="#" class="kt-widget-5__item-title">
                    Management meeting
                  </a>
                  <div class="kt-widget-5__item-datetime">
                    09:30 AM
                  </div>
                </div>
                <div class="kt-widget-5__item-check">
                  <label class="kt-radio">
                    <input type="radio" checked="checked" name="radio1">
                    <span></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">
    <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Notifications
          </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-bold" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#kt_portlet_tabs_1_1_1_content" role="tab">
                Today
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_1_2_content" role="tab">
                Week
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_portlet_tabs_1_1_3_content" role="tab">
                Month
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="kt_portlet_tabs_1_1_1_content" role="tabpanel">
            <div class="kt-scroll ps ps--active-y" data-scroll="true" style="height: 420px; overflow: hidden;" data-mobile-height="350">

              <!--Begin::Timeline -->
              <div class="kt-timeline">

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--success">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-feed kt-font-success"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--danger">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-safe-shield-protection kt-font-danger"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    New secyrity alert by Firewall &amp; order to take aktion on User Preferences
                  </a>
                  <div class="kt-timeline__item-info">
                    Security, Fieewall
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--brand">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon2-box kt-font-brand"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Yestardey</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    FlyMore design mock-ups been uploadet by designers Bob, Naomi, Richard
                  </a>
                  <div class="kt-timeline__item-info">
                    PSD, Sketch, AJ
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--warning">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-pie-chart-1 kt-font-warning"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Aug 13,2018</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    Meeting with Ken Digital Corp ot Unit14, 3 Edigor Buildings, George Street, Loondon<br> England, BA12FJ
                  </a>
                  <div class="kt-timeline__item-info">
                    Meeting, Customer
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--info">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-notepad kt-font-info"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">May 09, 2018</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--accent">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-bell kt-font-success"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    New secyrity alert by Firewall &amp; order to take aktion on User Preferences
                  </a>
                  <div class="kt-timeline__item-info">
                    Security, Fieewall
                  </div>
                </div>

                <!--End::Item -->
              </div>

              <!--End::Timeline 1 -->
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 420px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 192px;"></div></div></div>
          </div>
          <div class="tab-pane fade" id="kt_portlet_tabs_1_1_2_content" role="tabpanel">
            <div class="kt-scroll ps" data-scroll="true" style="height: 420px; overflow: hidden;" data-mobile-height="350">

              <!--Begin::Timeline -->
              <div class="kt-timeline">

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--info">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-psd  kt-font-info"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    New secyrity alert by Firewall &amp; order to take<br> aktion on User Preferences
                  </a>
                  <div class="kt-timeline__item-info">
                    Security, Fieewall
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--success">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-pie-chart-1 kt-font-success"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--accent">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-shopping-basket kt-font-success"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    New secyrity alert by Firewall &amp; order to take<br> aktion on User references
                  </a>
                  <div class="kt-timeline__item-info">
                    Security, Fieewall
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--warning">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-rotate kt-font-warning"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">May 09, 2018</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--brand">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-paper-plane-1 kt-font-brand"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Aug 13,2018</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    Meeting with Ken Digital Corp ot Unit14, 3<br> Edigor Buildings, George Street, Loondon<br> England, BA12FJ
                  </a>
                  <div class="kt-timeline__item-info">
                    Meeting, Customer
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--danger">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-pie-chart-1 kt-font-danger"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Yestardey</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                  </a>
                  <div class="kt-timeline__item-info">
                    PSD, Sketch, AJ
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--warning">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-security kt-font-warning"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Yestardey</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--brand">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-price-tag kt-font-brand"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->
              </div>

              <!--End::Timeline 1 -->
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
          </div>
          <div class="tab-pane fade" id="kt_portlet_tabs_1_1_3_content" role="tabpanel">
            <div class="kt-scroll ps" data-scroll="true" style="height: 420px; overflow: hidden;" data-mobile-height="350">

              <!--Begin::Timeline -->
              <div class="kt-timeline">

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--brand">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-medal kt-font-brand"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Aug 13,2018</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    Meeting with Ken Digital Corp ot Unit14, 3<br> Edigor Buildings, George Street, Loondon<br> England, BA12FJ
                  </a>
                  <div class="kt-timeline__item-info">
                    Meeting, Customer
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--danger">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-safe-shield-protection kt-font-danger"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Yestardey</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                  </a>
                  <div class="kt-timeline__item-info">
                    PSD, Sketch, AJ
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--info">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon2-box  kt-font-info"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    New secyrity alert by Firewall &amp; order to take<br> aktion on User Preferences
                  </a>
                  <div class="kt-timeline__item-info">
                    Security, Fieewall
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--success">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-pie-chart-1 kt-font-success"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--accent">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-envelope kt-font-success"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">01:20 AM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    New secyrity alert by Firewall &amp; order to take<br> aktion on User references
                  </a>
                  <div class="kt-timeline__item-info">
                    Security, Fieewall
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--warning">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-rotate kt-font-warning"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">May 09, 2018</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--info">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-feed kt-font-info"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">Yestardey</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    FlyMore design mock-ups been uploadet by<br> designers Bob, Naomi, Richard
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->

                <!--Begin::Item -->
                <div class="kt-timeline__item kt-timeline__item--brand">
                  <div class="kt-timeline__item-section">
                    <div class="kt-timeline__item-section-border">
                      <div class="kt-timeline__item-section-icon">
                        <i class="flaticon-download-1 kt-font-brand"></i>
                      </div>
                    </div>
                    <span class="kt-timeline__item-datetime">02:30 PM</span>
                  </div>
                  <a href="" class="kt-timeline__item-text">
                    KeenThemes created new layout whith tens of<br> new options for Keen Admin panel
                  </a>
                  <div class="kt-timeline__item-info">
                    HTML,CSS,VueJS
                  </div>
                </div>

                <!--End::Item -->
              </div>

              <!--End::Timeline 1 -->
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Latest Uploads</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-actions">
            <a href="#" class="btn btn-default btn-upper btn-sm btn-bold">All FILES</a>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body kt-portlet__body--fit kt-portlet__body--fluid">
        <div class="kt-widget-7">
          <div class="kt-widget-7__items">
            <div class="kt-widget-7__item">
              <div class="kt-widget-7__item-pic">
                <img src="./assets/media/files/doc.svg" alt="">
              </div>
              <div class="kt-widget-7__item-info">
                <a href="#" class="kt-widget-7__item-title">
                  Keeg Design Reqs
                </a>
                <div class="kt-widget-7__item-desc">
                  95 MB
                </div>
              </div>
              <div class="kt-widget-7__item-toolbar">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-more-1"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                      <li class="kt-nav__section kt-nav__section--first">
                        <span class="kt-nav__section-text">EXPORT TOOLS</span>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-eye"></i>
                          <span class="kt-nav__link-text">View</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-comment-o"></i>
                          <span class="kt-nav__link-text">Coments</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-copy"></i>
                          <span class="kt-nav__link-text">Copy</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-file-excel-o"></i>
                          <span class="kt-nav__link-text">Excel</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget-7__item">
              <div class="kt-widget-7__item-pic">
                <img src="./assets/media/files/pdf.svg" alt="">
              </div>
              <div class="kt-widget-7__item-info">
                <a href="#" class="kt-widget-7__item-title">
                  S.E.R Agreement
                </a>
                <div class="kt-widget-7__item-desc">
                  805 MB
                </div>
              </div>
              <div class="kt-widget-7__item-toolbar">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-more-1"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                      <li class="kt-nav__section kt-nav__section--first">
                        <span class="kt-nav__section-text">EXPORT TOOLS</span>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-eye"></i>
                          <span class="kt-nav__link-text">View</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-comment-o"></i>
                          <span class="kt-nav__link-text">Coments</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-copy"></i>
                          <span class="kt-nav__link-text">Copy</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-file-excel-o"></i>
                          <span class="kt-nav__link-text">Excel</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget-7__item">
              <div class="kt-widget-7__item-pic">
                <img src="./assets/media/files/jpg.svg" alt="">
              </div>
              <div class="kt-widget-7__item-info">
                <a href="#" class="kt-widget-7__item-title">
                  FlyMore Screenshot
                </a>
                <div class="kt-widget-7__item-desc">
                  4 MB
                </div>
              </div>
              <div class="kt-widget-7__item-toolbar">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-more-1"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                      <li class="kt-nav__section kt-nav__section--first">
                        <span class="kt-nav__section-text">EXPORT TOOLS</span>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-eye"></i>
                          <span class="kt-nav__link-text">View</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-comment-o"></i>
                          <span class="kt-nav__link-text">Coments</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-copy"></i>
                          <span class="kt-nav__link-text">Copy</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-file-excel-o"></i>
                          <span class="kt-nav__link-text">Excel</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget-7__item">
              <div class="kt-widget-7__item-pic">
                <img src="./assets/media/files/zip.svg" alt="">
              </div>
              <div class="kt-widget-7__item-info">
                <a href="#" class="kt-widget-7__item-title">
                  ST.11 Dacuments
                </a>
                <div class="kt-widget-7__item-desc">
                  Unknown
                </div>
              </div>
              <div class="kt-widget-7__item-toolbar">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-more-1"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                      <li class="kt-nav__section kt-nav__section--first">
                        <span class="kt-nav__section-text">EXPORT TOOLS</span>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-eye"></i>
                          <span class="kt-nav__link-text">View</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-comment-o"></i>
                          <span class="kt-nav__link-text">Coments</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-copy"></i>
                          <span class="kt-nav__link-text">Copy</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-file-excel-o"></i>
                          <span class="kt-nav__link-text">Excel</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget-7__item">
              <div class="kt-widget-7__item-pic">
                <img src="./assets/media/files/xml.svg" alt="">
              </div>
              <div class="kt-widget-7__item-info">
                <a href="#" class="kt-widget-7__item-title">
                  XML AOL Data Fetchin
                </a>
                <div class="kt-widget-7__item-desc">
                  4 MB
                </div>
              </div>
              <div class="kt-widget-7__item-toolbar">
                <div class="dropdown dropdown-inline">
                  <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon-more-1"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                      <li class="kt-nav__section kt-nav__section--first">
                        <span class="kt-nav__section-text">EXPORT TOOLS</span>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-eye"></i>
                          <span class="kt-nav__link-text">View</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-comment-o"></i>
                          <span class="kt-nav__link-text">Coments</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-copy"></i>
                          <span class="kt-nav__link-text">Copy</span>
                        </a>
                      </li>
                      <li class="kt-nav__item">
                        <a href="#" class="kt-nav__link">
                          <i class="kt-nav__link-icon la la-file-excel-o"></i>
                          <span class="kt-nav__link-text">Excel</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kt-widget-7__foot">
            <img src="./assets/media/misc/clouds.png" alt="">
            <div class="kt-widget-7__upload">
              <a href="#"><i class="flaticon-upload"></i></a>
              <span>Drag files here</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-6 col-xl-4 order-lg-2 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">Top Categories</h3>
        </div>
        <div class="kt-portlet__head-toolbar">
          <div class="kt-portlet__head-toolbar-wrapper">
            <div class="dropdown dropdown-inline">
              <button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flaticon-more-1"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__section kt-nav__section--first">
                    <span class="kt-nav__section-text">Export Tools</span>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-print"></i>
                      <span class="kt-nav__link-text">Print</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-copy"></i>
                      <span class="kt-nav__link-text">Copy</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-excel-o"></i>
                      <span class="kt-nav__link-text">Excel</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-text-o"></i>
                      <span class="kt-nav__link-text">CSV</span>
                    </a>
                  </li>
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                      <span class="kt-nav__link-text">PDF</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="kt-widget-16">
          <div class="kt-widget-16__item kt-widget-16__item--info">
            <div class="kt-widget-16__labels">
              <a href="">
                <div class="kt-widget-16__title">Templates</div>
              </a>
              <div class="kt-widget-16__desc">Front-end, Admin</div>
            </div>
            <div class="kt-widget-16__data">
              <div class="kt-widget-16__item-chart">

                <!--Doc: For the chart initialization refer to "latestProductsMiniCharts" function in "src\theme\app\scripts\custom\dashboard.js"
           and "KLib.initMiniChart()" function in "themes/themes/keen/src/theme/app/scripts/bundle/lib.js" -->
                <canvas id="kt_widget_latest_products_chart_1" width="80" height="40" style="display: block;"></canvas>
              </div>
              <div class="kt-widget-16__numbers">
                <div class="kt-widget-16__numbers-total">5.7k</div>
                <div class="kt-widget-16__numbers-change">+780</div>
              </div>
            </div>
          </div>
          <div class="kt-widget-16__item kt-widget-16__item--danger">
            <div class="kt-widget-16__labels">
              <a href="">
                <div class="kt-widget-16__title">Wordpress</div>
              </a>
              <div class="kt-widget-16__desc">eCommerce, Website</div>
            </div>
            <div class="kt-widget-16__data">
              <div class="kt-widget-16__item-chart">

                <!--Doc: For the chart initialization refer to "latestProductsMiniCharts" function in "src\theme\app\scripts\custom\dashboard.js"
           and "KLib.initMiniChart()" function in "themes/themes/keen/src/theme/app/scripts/bundle/lib.js" -->
                <canvas id="kt_widget_latest_products_chart_6" width="80" height="40" style="display: block;"></canvas>
              </div>
              <div class="kt-widget-16__numbers">
                <div class="kt-widget-16__numbers-total">2.8k</div>
                <div class="kt-widget-16__numbers-change">+350</div>
              </div>
            </div>
          </div>
          <div class="kt-widget-16__item kt-widget-16__item--warning">
            <div class="kt-widget-16__labels">
              <a href="">
                <div class="kt-widget-16__title">eCommerce</div>
              </a>
              <div class="kt-widget-16__desc">Fashion Websites</div>
            </div>
            <div class="kt-widget-16__data">
              <div class="kt-widget-16__item-chart">

                <!--Doc: For the chart initialization refer to "latestProductsMiniCharts" function in "src\theme\app\scripts\custom\dashboard.js"
           and "KLib.initMiniChart()" function in "themes/themes/keen/src/theme/app/scripts/bundle/lib.js" -->
                <canvas id="kt_widget_latest_products_chart_3" width="80" height="40" style="display: block;"></canvas>
              </div>
              <div class="kt-widget-16__numbers">
                <div class="kt-widget-16__numbers-total">9.3k</div>
                <div class="kt-widget-16__numbers-change">+2.1k</div>
              </div>
            </div>
          </div>
          <div class="kt-widget-16__item kt-widget-16__item--brand">
            <div class="kt-widget-16__labels">
              <a href="">
                <div class="kt-widget-16__title">UI/UX Design</div>
              </a>
              <div class="kt-widget-16__desc">Everything you like</div>
            </div>
            <div class="kt-widget-16__data">
              <div class="kt-widget-16__item-chart">

                <!--Doc: For the chart initialization refer to "latestProductsMiniCharts" function in "src\theme\app\scripts\custom\dashboard.js"
           and "KLib.initMiniChart()" function in "themes/themes/keen/src/theme/app/scripts/bundle/lib.js" -->
                <canvas id="kt_widget_latest_products_chart_5" width="80" height="40" style="display: block;"></canvas>
              </div>
              <div class="kt-widget-16__numbers">
                <div class="kt-widget-16__numbers-total">9.3k</div>
                <div class="kt-widget-16__numbers-change">+1.6k</div>
              </div>
            </div>
          </div>
          <div class="kt-widget-16__item kt-widget-16__item--success">
            <div class="kt-widget-16__labels">
              <a href="">
                <div class="kt-widget-16__title">SAAS Solution</div>
              </a>
              <div class="kt-widget-16__desc">Monthly Subscription</div>
            </div>
            <div class="kt-widget-16__data">
              <div class="kt-widget-16__item-chart">

                <!--Doc: For the chart initialization refer to "latestProductsMiniCharts" function in "src\theme\app\scripts\custom\dashboard.js"
           and "KLib.initMiniChart()" function in "themes/themes/keen/src/theme/app/scripts/bundle/lib.js" -->
                <canvas id="kt_widget_latest_products_chart_4" width="80" height="40" style="display: block;"></canvas>
              </div>
              <div class="kt-widget-16__numbers">
                <div class="kt-widget-16__numbers-total">5.7k</div>
                <div class="kt-widget-16__numbers-change">+598</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
  <div class="col-lg-12 col-xl-8 order-lg-2 order-xl-1">

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid-half kt-widget-14">
      <div class="kt-portlet__body">

        <!-- Doc: The bootstrap carousel is a slideshow for cycling through a series of content, see https://getbootstrap.com/docs/4.1/components/carousel/ -->
        <div id="kt-widget-slider-14-1" class="kt-slider carousel slide" data-ride="carousel" data-interval="8000">
          <div class="kt-slider__head">
            <div class="kt-slider__label">New Products</div>
            <div class="kt-slider__nav">
              <a class="kt-slider__nav-prev carousel-control-prev" href="#kt-widget-slider-14-1" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="kt-slider__nav-next carousel-control-next" href="#kt-widget-slider-14-1" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="kt-widget-14__body">
                <div class="kt-widget-14__product">
                  <div class="kt-widget-14__thumb">
                    <a href="#"><img src="./assets/media/blog/1.jpg" class="kt-widget-14__image--landscape" alt="" title=""></a>
                  </div>
                  <div class="kt-widget-14__content">
                    <a href="#">
                      <h3 class="kt-widget-14__title">Active Smartwatch</h3>
                    </a>
                    <div class="kt-widget-14__desc">
                      Beautifully designed watch that helps you track your fitness and diet – while keeping you motivated!
                    </div>
                  </div>
                </div>
                <div class="kt-widget-14__data">
                  <div class="kt-widget-14__info">
                    <div class="kt-widget-14__info-title kt-font-brand">246</div>
                    <div class="kt-widget-14__desc">Purchases</div>
                  </div>
                  <div class="kt-widget-14__info">
                    <div class="kt-widget-14__info-title">37</div>
                    <div class="kt-widget-14__desc">Reviews</div>
                  </div>
                </div>
              </div>
              <div class="kt-widget-14__foot">
                <div class="kt-widget-14__foot-info">
                  <div class="kt-widget-14__foot-label btn btn-sm btn-label-brand btn-bold">
                    24 Nov, 2018
                  </div>
                  <div class="kt-widget-14__foot-desc">Date of Release</div>
                </div>
                <div class="kt-widget-14__foot-toolbar">
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Preview</a>
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Details</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="kt-widget-14__body">
                <div class="kt-widget-14__product">
                  <div class="kt-widget-14__thumb">
                    <a href="#"><img src="./assets/media/blog/2.jpg" class="kt-widget-14__image--landscape" alt="" title=""></a>
                  </div>
                  <div class="kt-widget-14__content">
                    <a href="#">
                      <h3 class="kt-widget-14__title">DSLR Lens</h3>
                    </a>
                    <div class="kt-widget-14__desc">
                      Wide-angle, Quick Focus. Emphasis is on modern lenses for 35 mm film SLRs and for DSLRs with sensor sizes less than or equal to 35 mm.
                    </div>
                  </div>
                </div>
                <div class="kt-widget-14__data">
                  <div class="kt-widget-14__info">
                    <div class="kt-widget-14__info-title kt-font-brand">142</div>
                    <div class="kt-widget-14__desc">Purchases</div>
                  </div>
                  <div class="kt-widget-14__info">
                    <div class="kt-widget-14__info-title">25</div>
                    <div class="kt-widget-14__desc">Reviews</div>
                  </div>
                </div>
              </div>
              <div class="kt-widget-14__foot">
                <div class="kt-widget-14__foot-info">
                  <div class="kt-widget-14__foot-label btn btn-sm btn-label-brand btn-bold">
                    24 Nov, 2018
                  </div>
                  <div class="kt-widget-14__foot-desc">Date of Release</div>
                </div>
                <div class="kt-widget-14__foot-toolbar">
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Preview</a>
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Details</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="kt-widget-14__body">
                <div class="kt-widget-14__product">
                  <div class="kt-widget-14__thumb">
                    <a href="#"><img src="./assets/media/blog/4.jpg" class="kt-widget-14__image--landscape" alt="" title=""></a>
                  </div>
                  <div class="kt-widget-14__content">
                    <a href="#">
                      <h3 class="kt-widget-14__title">Polaroid Camera</h3>
                    </a>
                    <div class="kt-widget-14__desc">
                      Instant is back! Make photos fun again with the new range of Polaroid Instant Cameras with Vintage Effects and Built in Flash
                    </div>
                  </div>
                </div>
                <div class="kt-widget-14__data">
                  <div class="kt-widget-14__info">
                    <div class="kt-widget-14__info-title kt-font-brand">3578</div>
                    <div class="kt-widget-14__desc">Purchases</div>
                  </div>
                  <div class="kt-widget-14__info">
                    <div class="kt-widget-14__info-title">457</div>
                    <div class="kt-widget-14__desc">Reviews</div>
                  </div>
                </div>
              </div>
              <div class="kt-widget-14__foot">
                <div class="kt-widget-14__foot-info">
                  <div class="kt-widget-14__foot-label btn btn-sm btn-label-brand btn-bold">
                    24 Nov, 2018
                  </div>
                  <div class="kt-widget-14__foot-desc">Date of Release</div>
                </div>
                <div class="kt-widget-14__foot-toolbar">
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Preview</a>
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->

    <!--begin::Portlet-->
    <div class="kt-portlet kt-portlet--height-fluid-half kt-widget-15">
      <div class="kt-portlet__body">

        <!-- Doc: The bootstrap carousel is a slideshow for cycling through a series of content, see https://getbootstrap.com/docs/4.1/components/carousel/ -->
        <div id="kt-widget-slider-14-2" class="kt-slider carousel slide" data-ride="carousel" data-interval="8000">
          <div class="kt-slider__head">
            <div class="kt-slider__label">New Authors</div>
            <div class="kt-slider__nav">
              <a class="kt-slider__nav-prev carousel-control-prev" href="#kt-widget-slider-14-2" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
              </a>
              <a class="kt-slider__nav-next carousel-control-next" href="#kt-widget-slider-14-2" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="kt-widget-15__body">
                <div class="kt-widget-15__author">
                  <div class="kt-widget-15__photo">
                    <a href="#"><img src="./assets/media/users/100_14.jpg" alt="" title=""></a>
                  </div>
                  <div class="kt-widget-15__detail">
                    <a href="#" class="kt-widget-15__name">Andy John</a>
                    <div class="kt-widget-15__desc">
                      AngularJS Expert
                    </div>
                  </div>
                </div>
                <div class="kt-widget-15__wrapper">
                  <div class="kt-widget-15__info">
                    <a href="#" class="btn btn-icon btn-sm btn-circle btn-success"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="kt-widget-15__info--item">sale@boatline.com</a>
                  </div>
                  <div class="kt-widget-15__info">
                    <a href="#" class="btn btn-icon btn-sm btn-circle btn-brand"><i class="fa fa-phone"></i></a>
                    <a href="#" class="kt-widget-15__info--item">(+44) 345 345 4705</a>
                  </div>
                </div>
              </div>
              <div class="kt-widget-15__foot">
                <div class="kt-widget-15__foot-info">
                  <div class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold">
                    01 Sep, 2018
                  </div>
                  <div class="kt-widget-15__foot-desc">Joined Date</div>
                </div>
                <div class="kt-widget-15__foot-toolbar">
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Message</a>
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Profile</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="kt-widget-15__body">
                <div class="kt-widget-15__author">
                  <div class="kt-widget-15__photo">
                    <a href="#"><img src="./assets/media/users/100_3.jpg" alt="" title=""></a>
                  </div>
                  <div class="kt-widget-15__detail">
                    <a href="#" class="kt-widget-15__name">Patrick Smith</a>
                    <div class="kt-widget-15__desc">
                      ReactJS Expert
                    </div>
                  </div>
                </div>
                <div class="kt-widget-15__wrapper">
                  <div class="kt-widget-15__info">
                    <a href="#" class="btn btn-icon btn-sm btn-circle btn-success"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="kt-widget-15__info--item">patrick@boatline.com</a>
                  </div>
                  <div class="kt-widget-15__info">
                    <a href="#" class="btn btn-icon btn-sm btn-circle btn-brand"><i class="fa fa-phone"></i></a>
                    <a href="#" class="kt-widget-15__info--item">(+44) 345 345 5574</a>
                  </div>
                </div>
              </div>
              <div class="kt-widget-15__foot">
                <div class="kt-widget-15__foot-info">
                  <div class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold">
                    01 Sep, 2018
                  </div>
                  <div class="kt-widget-15__foot-desc">Joined Date</div>
                </div>
                <div class="kt-widget-15__foot-toolbar">
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Message</a>
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Profile</a>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="kt-widget-15__body">
                <div class="kt-widget-15__author">
                  <div class="kt-widget-15__photo">
                    <a href="#"><img src="./assets/media/users/100_7.jpg" alt="" title=""></a>
                  </div>
                  <div class="kt-widget-15__detail">
                    <a href="#" class="kt-widget-15__name">Amanda Collin</a>
                    <div class="kt-widget-15__desc">
                      Project Manager
                    </div>
                  </div>
                </div>
                <div class="kt-widget-15__wrapper">
                  <div class="kt-widget-15__info">
                    <a href="#" class="btn btn-icon btn-sm btn-circle btn-success"><i class="fa fa-envelope"></i></a>
                    <a href="#" class="kt-widget-15__info--item">amanda@boatline.com</a>
                  </div>
                  <div class="kt-widget-15__info">
                    <a href="#" class="btn btn-icon btn-sm btn-circle btn-brand"><i class="fa fa-phone"></i></a>
                    <a href="#" class="kt-widget-15__info--item">(+44) 345 345 1247</a>
                  </div>
                </div>
              </div>
              <div class="kt-widget-15__foot">
                <div class="kt-widget-15__foot-info">
                  <div class="kt-widget-15__foot-label btn btn-sm btn-label-brand btn-bold">
                    01 Sep, 2018
                  </div>
                  <div class="kt-widget-15__foot-desc">Joined Date</div>
                </div>
                <div class="kt-widget-15__foot-toolbar">
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Message</a>
                  <a href="#" class="btn btn-default btn-sm btn-bold btn-upper">Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--end::Portlet-->
  </div>
</div>