<!-- begin::Body -->
<body [ngStyle]="background" class="kt-login-v1--enabled kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed kt-page--loading">

<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid__item  kt-grid__item--fluid kt-grid kt-grid--hor kt-login-v1" id="kt_login_v1">

        <!--begin::Item-->
        <div class="kt-grid__item">

            <!--begin::Heade-->
            <div class="kt-login-v1__head">
                <div class="kt-login-v1__logo">
                    <a href="#">
                        <img src="{{logo}}" alt="" />
                    </a>
                </div>
                <div class="kt-login-v1__signup">
                    <h4 class="kt-login-v1__heading">Don't have an account?</h4>
                    <a href="#">Sign Up</a>
                </div>
            </div>

            <!--begin::Head-->
        </div>

        <!--end::Item-->

        <!--begin::Item-->
        <div class="kt-grid__item  kt-grid kt-grid--ver  kt-grid__item--fluid">

            <!--begin::Body-->
            <div class="kt-login-v1__body">

                <!--begin::Section-->
                <div class="kt-login-v1__section">
                    <div class="kt-login-v1__info">
                        <h3 class="kt-login-v1__intro">Whatever CTA's wave purpose important exit element</h3>
                        <p>Lorem ipsum lian amet estudiat</p>
                    </div>
                </div>

                <!--begin::Section-->

                <!--begin::Separator-->
                <div class="kt-login-v1__seaprator"></div>

                <!--end::Separator-->

                <!--begin::Wrapper-->


                <div class="kt-login-v1__wrapper">
                    <div class="kt-login-v1__container">
                        <h3 class="kt-login-v1__title">
                            Sign To Account
                        </h3>

                        <!--begin::Form-->
                        <form [formGroup]=  "loginForm"  class="kt-login-v1__form kt-form" action="" autocomplete="off" (ngSubmit)='onSubmit(loginForm)'>
                            <div class="form-group">
                                <input class="form-control"  type="text" placeholder="Username" autocomplete="off" formControlName="username">
                                <app-control-messages [control]="f['username']" ></app-control-messages>

                            </div>
                            <div class="form-group">
                                <input class="form-control"  type="password" placeholder="Password"  autocomplete="off" formControlName="password">
                                <app-control-messages [control]="f['password']"></app-control-messages>

                            </div>
                            <div *ngIf="isLoginError" class="red-text error-message">
                                <i class="material-icons">error</i> Incorrect username or password      
                            </div>
                            <div class="kt-login-v1__actions">
                                <a href="#" class="kt-login-v1__forgot">
                                    Forgot Password ?
                                </a>
                                <button   [disabled]="loginForm.invalid" type="submit" class="btn btn-pill btn-elevate">Sign In</button>
                                <!-- <span [hidden]="!isLoading" class="is-loading">
                                        <i class="fas fa-spinner fa-spin"></i>

                                </span> -->
                            </div>
                        </form>

                        <!--end::Form-->
                    </div>
                </div>

                <!--end::Wrapper-->
            </div>

            <!--begin::Body-->
        </div>

        <!--end::Item-->


    </div>
</div>

</body>
<!--begin::Page Scripts(used by this page) -->

