<div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
  <div id="kt_aside_menu" class="kt-aside-menu" data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500">
    <ul class="kt-menu__nav ">
      <li class="kt-menu__item  kt-menu__item--submenu" routerLinkActive = 'kt-menu__item--open' aria-haspopup="true" data-ktmenu-submenu-toggle="hover" *ngFor = "let menu of MenusObj">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
              <i class="{{menu.icon}}"></i>
              <span class="kt-menu__link-text">{{ menu.key_language | translate}}</span>
              <i class="kt-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="kt-menu__submenu "><span class="kt-menu__arrow"></span>
              <ul class="kt-menu__subnav">
                <li *ngFor = "let itemMenu of menu.item_menus" routerLinkActive = 'kt-menu__item--active' class="kt-menu__item" aria-haspopup="true" >
                  <a routerLink="{{itemMenu.path}}"  class="kt-menu__link kt-menu__toggle">
                  <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                    <span></span></i><span class="kt-menu__link-text">{{itemMenu.key_language | translate}}</span></a>
                  </li>
              </ul>
            </div>
       </li>				
     				
    </ul>
  </div>
</div>