<button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
<div  class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop {{classTheme}}" id="kt_aside">

	<!-- begin::Aside Brand -->
	<div class="kt-aside__brand kt-grid__item {{classTheme}}" id="kt_aside_brand">
		<div class="kt-aside__brand-logo">
			<a routerLink="/tracking">
				<img class = "kt-img-logo"alt="Logo" src="./assets/media/logos/logo.png" />
			</a>
		</div>
		<div class="kt-aside__brand-tools">
			<button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
		</div>
	</div>

	<!-- end:: Aside Brand -->

	<!-- begin:: Aside Menu -->
	 <app-menus></app-menus>
	<!-- end:: Aside Menu -->

	<!-- begin:: Aside Footer -->
	<div class="kt-aside__footer kt-grid__item" id="kt_aside_footer">
		<div class="kt-aside__footer-nav">
			<div class="kt-aside__footer-item">
				<a href="#" class="btn btn-icon"><i class="flaticon2-gear"></i></a>
			</div>
			<div class="kt-aside__footer-item">
				<a href="#" class="btn btn-icon"><i class="flaticon2-cube"></i></a>
			</div>
			<div class="kt-aside__footer-item">
				<a href="#" class="btn btn-icon"><i class="flaticon2-bell-alarm-symbol"></i></a>
			</div>
			<div class="kt-aside__footer-item">
				<button type="button" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<i class="flaticon2-add"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-left">
					<ul class="kt-nav">
						<li class="kt-nav__section kt-nav__section--first">
							<span class="kt-nav__section-text">Export Tools</span>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon la la-print"></i>
								<span class="kt-nav__link-text">Print</span>
							</a>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon la la-copy"></i>
								<span class="kt-nav__link-text">Copy</span>
							</a>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon la la-file-excel-o"></i>
								<span class="kt-nav__link-text">Excel</span>
							</a>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon la la-file-text-o"></i>
								<span class="kt-nav__link-text">CSV</span>
							</a>
						</li>
						<li class="kt-nav__item">
							<a href="#" class="kt-nav__link">
								<i class="kt-nav__link-icon la la-file-pdf-o"></i>
								<span class="kt-nav__link-text">PDF</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="kt-aside__footer-item">
				<a href="#" class="btn btn-icon"><i class="flaticon2-calendar-2"></i></a>
			</div>
		</div>
	</div>

	<!-- end:: Aside Footer-->
</div>