<div class="kt-header__topbar-item kt-header__topbar-item--langs kt-logo_language">
  <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0px">
    <span *ngFor="let select of selectLanguage" class="kt-header__topbar-icon">
      <img class="" src="{{select.icon}}" alt="" />
    </span>
  </div>
  <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
    <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
      <li class="kt-nav__item kt-nav__item--active" *ngFor="let language of languageList" >
        <a (click) ="changeLanguge(language.lang)"  class="kt-nav__link">
          <span class="kt-nav__link-icon"><img src="{{language.icon}}" alt="" /></span>
          <span class="kt-nav__link-text">{{language.label}}</span>
        </a>
      </li>

    </ul>
  </div>
</div>