<div class="kt-header__topbar-item kt-header__topbar-item--user">
  <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px, 0px">
    <div class="kt-header__topbar-user">
      <span class="kt-header__topbar-username kt-hidden-mobile">{{ username | titlecase }}</span>
      <img alt="Pic" src="./assets/media/users/300_25.jpg" />

      <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
      <span class="kt-badge kt-badge--username kt-badge--lg kt-badge--brand kt-hidden kt-badge--bold">S</span>
    </div>
  </div>
  <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
    <div class="kt-user-card kt-margin-b-40 kt-margin-b-30-tablet-and-mobile" style="background-image: url(./assets/media/misc/head_bg_sm.jpg)">
      <div class="kt-user-card__wrapper">
        <div class="kt-user-card__pic">
          <img alt="Pic" src="./assets/media/users/300_21.jpg" />
        </div>
        <div class="kt-user-card__details">
          <div class="kt-user-card__name">{{ name  | titlecase }}</div>
          <div class="kt-user-card__position">CTO, Loop Inc.</div>
        </div>
      </div>
    </div>
    <ul class="kt-nav kt-margin-b-10">
      <li class="kt-nav__item">
        <a href="demo1/custom/user/profile-v1.html" class="kt-nav__link">
          <span class="kt-nav__link-icon"><i class="flaticon2-calendar-3"></i></span>
          <span class="kt-nav__link-text">My Profile</span>
        </a>
      </li>
      <li class="kt-nav__item">
        <a href="demo1/custom/user/profile-v1.html" class="kt-nav__link">
          <span class="kt-nav__link-icon"><i class="flaticon2-browser-2"></i></span>
          <span class="kt-nav__link-text">My Tasks</span>
        </a>
      </li>
      <li class="kt-nav__item">
        <a href="demo1/custom/user/profile-v1.html" class="kt-nav__link">
          <span class="kt-nav__link-icon"><i class="flaticon2-mail"></i></span>
          <span class="kt-nav__link-text">Messages</span>
        </a>
      </li>
      <li class="kt-nav__item">
        <a href="demo1/custom/user/profile-v1.html" class="kt-nav__link">
          <span class="kt-nav__link-icon"><i class="flaticon2-gear"></i></span>
          <span class="kt-nav__link-text">Settings</span>
        </a>
      </li>
      <li class="kt-nav__item kt-nav__item--custom kt-margin-t-15">
        <a routerLink = "{{pathLogin}}" class="btn btn-label-brand btn-upper btn-sm btn-bold">Sign Out</a>
      </li>
    </ul>
  </div>
</div>
